.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 5px;
  border: none;
  position: relative;
  transition: transform 200ms ease;
  .container {
    border-radius: 5px;
    padding: 0.7rem;
    height: 100%;
    width: 100%;
    z-index: 2;
    font-weight: 600;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .shadow {
    border-radius: 5px;
    filter: brightness(80%);
    position: absolute;
    top: 0.4rem;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
}
